<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static "css/main.css" %}">
    <title>Document</title>
</head>
<body>
    <div class="header_block">
        <div class="header_menu">
            <a href=""><img src="{% static "images/logo.svg" %}"></a>
            <div class="header_menu_text">
                <a href=""><p>Home</p></a>
                <a href=""><p>Listing</p></a>
                <a href=""><p>Property</p></a>
                <a href=""><p>Agents</p></a>
                <a href=""><p>Blog</p></a>
                <a href=""><button>Sign In</button></a>
            </div>
        </div>
        <div class="header_content">
            <div class="header_content_block_text">
                <h1>Easy way to find a home<br>
                    that’s perfect for you</h1>
                <p>The find and most trusted marketplace of design & build house in the world.</p>
            </div>
            <div class="header_home_search">
                <div class="house_transactions">
                        
                </div>
            </div>
        </div>
    </div>
</body>
</html>